DATABASE_URL="your_pooler_postgres_db_url"

NODE_ENV=development

JWT_SECRET=your_JWT_secret

NEXT_PUBLIC_BASE_URL="localhost:3000"  # your_deployed_base_url_but_for_now

GEMINI_API_KEY="gemini_key"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=cloud_name

CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret